body {
  font-family: Assistant, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  background-color: black;
  color: white;
}

.logo {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

h1 {
  text-align: center;
}

.pi {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px; /* Adjust size for effect */
  text-transform: uppercase;
}


ul {
    padding-left: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-links {
    text-align: center;
    margin: 20px 0;
}

.timestamp {
    text-align: center;
    color: #666;
    margin-top: 30px;
}

.phonetic {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
    margin-top: -20px;
}
